name: config-download-config

on:
  workflow_dispatch:

jobs:
  create-config:
    uses: ./.github/workflows/config-create-config-artifact.yml
    secrets: inherit

  do-something-with-config-in-my-workflow:
    runs-on: ubuntu-latest
    needs: create-config
    steps:
      - name: Download config artifact
        uses: ./.github/actions/download-config
     
      - name: Echo from env
        run: |
          echo "FOO: ${{ env.FOO }}"
          echo "FIZZ: ${{ env.FIZZ }}"
          
      - name: Echo from bash
        run: |
          echo "FOO: $FOO"
          echo "FIZZ: $FIZZ"

  composite-actions-can-use-config-artifact-too:
    runs-on: ubuntu-latest
    needs: create-config
    steps:
      - name: I use the config
        uses: ./.github/actions/i-use-the-config
