name: seven-zip-folder-and-download

on:
  workflow_dispatch:

jobs:
  create-artifact:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Zip artifact
        working-directory: ./service
        run: |
          7z a -mx=1 service.7z .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: service.7z
          path: service/service.7z
          compression-level: 0 
          retention-days: 1

  download-and-use-artifact:
    runs-on: ubuntu-latest
    needs: create-artifact
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: service.7z
          path: service

      - name: Debug the artifact
        run: |
          ls -la service

      - name: Debug the artifact
        run: |
          ls -la service/service.7z

      - name: Unzip the artifact
        run: |
          7z x service/service.7z -o./service

      - name: Cat the readme
        run: |
          cat service/README.md