name: ~ tilde-prefixed workflows sort to the bottom of the text list

on:
  workflow_dispatch:

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    steps:
    - name: print message
      run: echo 'Testing ~ sorting in the UI'